<footer class="footer">
  <div class="footer-top">
    <div class="grid-container wide">
      <div class="grid-x grid-margin-x">
        <div class="cell medium-6 large-4 xxlarge-2">
          <nav class="nav-footer" aria-role="navigation">
            <p class="nav-footer__title">Контакты</p>
            <ul class="nav-footer-list">
              <li class="nav-footer__item">
                Приемная комиссия<br>
                +7 (495) 255-67-67<br>
                <a href="mailto:pk@rgsu.net" class="nav-footer__link">pk@rgsu.net</a>
              </li>
              <li class="nav-footer__item">
                Call-центр<br>
                +7 (495) 255-67-67<br>
                <a href="mailto:info@rgsu.net" class="nav-footer__link">info@rgsu.net</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Медиацентр</a><br>
                <a href="mailto:media@rgsu.net" class="nav-footer__link">media@rgsu.net</a>
              </li>
              <li class="nav-footer__item">
                Вопросы и предложения по сайту<br>
                <a href="mailto:marketing@rgsu.net" class="nav-footer__link">marketing@rgsu.net</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="cell medium-6 large-4 xxlarge-2">
          <nav class="nav-footer" aria-role="navigation">
            <p class="nav-footer__title">Наш университет</p>
            <ul class="nav-footer-list">
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Руководство</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Инфраструктура</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Студенческая типография</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Профсоюзная организация</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Часто задаваемые вопросы</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Инклюзивный спорт</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="cell medium-6 large-4 xxlarge-2">
          <nav class="nav-footer" aria-role="navigation">
            <p class="nav-footer__title">Поступающим</p>
            <ul class="nav-footer-list">
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Направления подготовки</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Факультеты</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Стоимость обучения</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Калькулятор ЕГЭ</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Общежития</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Часто задаваемые вопросы</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Личный кабинет поступающего</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="cell medium-6 large-4 xxlarge-2">
          <nav class="nav-footer" aria-role="navigation">
            <p class="nav-footer__title">Студентам</p>
            <ul class="nav-footer-list">
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Расписание занятий</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Централизованный деканат</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Стипендия</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Оплата услуг</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Система дистанционного обучения</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Перевод и восстановление студентов</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="cell medium-6 large-4 xxlarge-2">
          <nav class="nav-footer" aria-role="navigation">
            <p class="nav-footer__title">Важное</p>
            <ul class="nav-footer-list">
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Вакансии</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Сведения об образовательной организации</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Противодействие коррупции</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Сведения о доходах руководителя и членов его семьи</a>
              </li>
              <li class="nav-footer__item">
                <a href="//Минобрнауки.рф" class="nav-footer__link">Минобрнауки.рф</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Департамент образования г. Москвы</a>
              </li>
              <li class="nav-footer__item">
                <a href="#" class="nav-footer__link">Оценить услуги РГСУ</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="cell medium-6 large-4 xxlarge-2">
          <nav class="nav-footer" aria-role="navigation">
            <p class="nav-footer__title">Мы в соцсетях</p>
            {{> social-links class="social-links--footer social-links--inverted"}}
          </nav>
        </div>
      </div>
      <hr>
      <div class="grid-x align-center">
        <div class="cell shrink">
          <a href="/" class="footer__logo"><svg viewbox="0 0 135 41"><use xlink:href="#logo-rgsu"></use></svg></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="grid-container">
      <div class="grid-x grid-padding-y align-center">
        <div class="cell shrink">
          <p class="copyright margin-0">© 2008-2020 РГСУ. Сделано в РГСУ.</p>
        </div>
      </div>
    </div>
  </div>
</footer>