<nav class="nav-header"  id="site-nav" role="navigation">
  <ul class="nav-header-list">
    <li class="nav-header__item">
      <a href="#" class="nav-header__link"><span>Наш университет</span></a>
    </li>
    <li class="nav-header__item">
      <a href="#" class="nav-header__link"><span>Поступающим</span></a>
    </li>
    <li class="nav-header__item">
      <a href="#" class="nav-header__link"><span>Студентам</span></a>
    </li>
    <li class="nav-header__item">
      <a href="#" class="nav-header__link"><span>Выпускникам</span></a>
    </li>
    <li class="nav-header__item">
      <a href="#" class="nav-header__link"><span>Сотрудникам</span></a>
    </li>
    <li class="nav-header__item">
      {{> social-links class='align-middle'}}
    </li>
  </ul>
</nav>