<div class="grid-y grid-frame">
  <div class="cell auto cell-block-container">
    <div class="grid-y" style="height: 100%;">
      <div class="cell auto cell-block-y">
        <button type="button" class="close-button" aria-label="Закрыть меню" data-close><span class="button__icon" aria-hidden="true"><i class="las la-times la-lg"></i></span></button>
        {{> nav-offcanvas}}
      </div>
    </div>
  </div>
</div>

{{!--
<div class="off-canvas-body">
  <button type="button" class="close-button" aria-label="Закрыть меню" data-close><span class="button__icon" aria-hidden="true"><i class="las la-times la-lg"></i></span></button>
  <!--
  <a href="#" class="off-canvas-logo"><svg viewbox="0 0 135 41"><use xlink:href="#logo-rgsu"></use></svg></a>
  <div class="divider"></div>
  <form action="">
    <fieldset class="fields searchbox">
      <div class="field">
        <input type="search" class="radius margin-0" placeholder="Поиск">
      </div>
      <button type="submit" class="clear button margin-0"><span class="button__icon">{{> svg-icon icon='search'}}</span></button>
    </fieldset>
  </form>
  <div class="divider"></div>
  -->
  {{> nav-offcanvas}}
</div>
<!--
<div class="off-canvas-footer">
  <div class="divider"></div>
  <p>Приемная комиссия<br>
    <a href="tel:+7 (495) 255-67-67">+7 (495) 255-67-77</a><br>
    <a href="mailto:pk@rgsu.net">pk@rgsu.net</a>
  </p>
  <p>Call-центр<br>
    <a href="tel:+7 (495) 255-67-67">+7 (495) 255-67-67</a><br>
    <a href="mailto:info@rgsu.net">info@rgsu.net</a>
  </p>
</div>
-->
--}}