<section class="section padding-0">
  <div class="grid-container full">
    <div class="grid-x">
      <div class="cell">

        <div class="slick">
          <div class="slick-item">
            <a href="#" class="poster">
              <img class="poster__image" data-interchange="[{{root}}assets/img/hero-small.jpg, small], [{{root}}assets/img/hero-medium.jpg, medium], [{{root}}assets/img/slider.jpg, large]" alt="">
            </a>
          </div>
          <div class="slick-item">
            <a href="#" class="poster">
              <img class="poster__image" data-interchange="[{{root}}assets/img/hero-small.jpg, small], [{{root}}assets/img/hero-medium.jpg, medium], [{{root}}assets/img/slider.jpg, large]" alt="">
            </a>
          </div>
          <div class="slick-item">
            <a href="#" class="poster">
              <img class="poster__image" data-interchange="[{{root}}assets/img/hero-small.jpg, small], [{{root}}assets/img/hero-medium.jpg, medium], [{{root}}assets/img/slider.jpg, large]" alt="">
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>