<section class="section padding-0">
  <div class="slick" data-slick='{"autoplaySpeed": 5000, "autoplay": true}'>
    <div class="slick-item">
      <div class="hero-body">
        <div class="hero-image">
          <img data-interchange="[{{root}}assets/img/hero-small.jpg, small],
                                 [{{root}}assets/img/hero-medium.jpg, medium],
                                 [{{root}}assets/img/hero-large.jpg, large]" alt="">
        </div>
        <div class="hero-content">
          <div class="hero-links">
            <ul class="no-bullet margin-0">
              <li class="margin-0"><a href="#" class="hero__link">Учебный год 2020 в условиях COVID-19</a></li>
              <li class="margin-0"><a href="#" class="hero__link secondary">Поступай онлайн</a></li>
              <li class="margin-0"><a href="#" class="hero__link white">Второе высшее для абитуриентов</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="slick-item">
      <div class="hero-body">
        <div class="hero-video">
          <video loop="loop" autoplay="autoplay" preload="auto" muted="">
            <source src="{{root}}assets/video/rgsu.mp4" type="video/mp4">
            <source src="{{root}}assets/video/rgsu.webm" type="video/webm">
          </video>
        </div>
        <div class="hero-content">
          <div class="hero-links">
            <ul class="no-bullet margin-0">
              <li class="margin-0"><a href="#" class="hero__link">Подайте заявку в личном кабинете</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>